<h1>Cocktail List</h1>

<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
    <%= cocktail.name %>
  <% end %>
<% end %>

<%= link_to 'Create a new cocktail', new_cocktail_path %>
