<h1>Create a new cocktail</h1>

<div class="container">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.button :submit %>
  <% end %>
</div>

<%= link_to 'go back to cocktail list', root_path %>
